.col-blue {
    background-color: #304be0;
}
.col-orange {
    background-color: #ff4c1e;
}
.col-red {
    background-color: #6e0808;
}
.col-purple {
    background-color: #bd1ee4;
}
.col-lblue {
    background-color: #00589d;
}
.col-green {
    background-color: #53b413;
}
.col-black {
    background-color: #000000;
}
.col-white {
    color: #ffffff;
}
.col-white1 {
    background-color: #f9f2ff;
}
